{% extends 'base.html' %}
{% load static %}
{% block header_name %}
<a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="{% url 'quiz' %}">Quiz</a>
{% endblock header_name %}

{% block active %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'index' %}">
    <i class="ni ni-tv-2 text-primary"></i> Dashboard
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'profile' %}">
    <i class="ni ni-single-02 text-yellow"></i> User profile
  </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">
      <i class="ni ni-single-02 text-red"></i> Logout
    </a>
  </li>
{% endblock active %}

{% block content %}
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        <!-- Card stats -->
        </div>
    </div>
    </div>
    <div class="container-fluid mt--7">
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="display-4" style="color: #fb6340; text-align: center;">Quiz</h2>
                                <br>
                                <h3 class="mb-0" style="color: #11cdef; text-align: center;">Total No. of Questions: {{ len }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for image, caption, options_all in images %}
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <img class="card-img" src="{% static 'img/uploads/' %}{{ image }}" style="width: 25rem;" alt="Card image cap">
                            </div>
                            <div class="col-5">
                                <h3 class="mb-0">{{ forloop.counter }}) &nbsp;&nbsp; {{ caption }} </h3>
                                <br>
                                <div class="custom-control custom-radio mb-3">
                                    <input name="custom-radio-{{ forloop.counter }}2" class="custom-control-input" id="customRadio{{ forloop.counter }}1" checked="" type="radio">
                                    <label class="custom-control-label" for="customRadio{{ forloop.counter }}1">{{ options_all.0.0 }}</label>
                                  </div>
                                <div class="custom-control custom-radio mb-3">
                                    <input name="custom-radio-{{ forloop.counter }}2" class="custom-control-input" id="customRadio{{ forloop.counter }}2" checked="" type="radio">
                                    <label class="custom-control-label" for="customRadio{{ forloop.counter }}2">{{ options_all.1.0 }}</label>
                                  </div>
                                  <div class="custom-control custom-radio mb-3">
                                    <input name="custom-radio-{{ forloop.counter }}2" class="custom-control-input" id="customRadio{{ forloop.counter }}3" checked="" type="radio">
                                    <label class="custom-control-label" for="customRadio{{ forloop.counter }}3">{{ options_all.2.0 }}</label>
                                  </div>
                                  <div class="custom-control custom-radio mb-3">
                                    <input name="custom-radio-{{ forloop.counter }}2" class="custom-control-input" id="customRadio{{ forloop.counter }}4" checked="" type="radio">
                                    <label class="custom-control-label" for="customRadio{{ forloop.counter }}4">{{ options_all.3.0 }}</label>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}