{% extends "base.html" %}

{% block header_name %}
  <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="{% url 'index' %}">Dashboard</a>
{% endblock header_name %}

{% block active %}
  <li class="nav-item  active">
    <a class="nav-link active" href="{% url 'index' %}">
      <i class="ni ni-tv-2 text-primary"></i> Dashboard
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'profile' %}">
      <i class="ni ni-single-02 text-yellow"></i> User profile
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">
      <i class="ni ni-single-02 text-red"></i> Logout
    </a>
  </li>
{% endblock active %}

{% block content %}
  <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <div class="row mt-5">
      <div class="col-xl-6 mb-5 mb-xl-0">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="mb-0" style="color: #f5365c">Quiz Pending</h2>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <tbody>
                {% for quiz in quiz_pending %}
                  <tr>
                    <th scope="row" style="text-align:center">
                      <a href="pending_quiz/{{ quiz.quiz_name }}" class="h3">{{ quiz.quiz_name }}</a>
                    </th>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="mb-0" style="color: #2dce89">Quiz Completed</h2>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <tbody>
                {% for quiz in quiz_completed %}
                  <tr>
                    <th scope="row" style="text-align:center">
                      <a href="#" class="h3">{{ quiz.quiz_name }}</a>
                    </th>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %} 